#imgANDsummary{
    display:flex;
}
#Summary{
        margin-right: auto;
    margin-left: 16px;
    padding-top: 35px;
}
#image {
  border-radius: 20px;
  margin-left: 5px;
float:left;
    
}

@media screen and (max-width: 580px) {
    #imgANDsummary {
      display: block;
    }
        #Summary {
                margin: auto !important;
           padding-top: 0%;

    }

  }
