#imgANDsummary{

}

#image {
  width= 140px;
  border-radius: 20px;
float:left;
    
}

@media screen and (min-width: 580px) {
    #summary {
      margin-left:100px
      
    }
     
  }
