
#image {
  width: 140px;
hight:100px;
  border-radius: 20px;
float:left;
    
}

@media screen and (min-width: 880px) {
    #summary {
 
    }
    #imgANDsummary{
     margin-right:40%;
      
}
 
  }
